.infobox{
    width:500px;
    height: 300px;
    border-radius: 15px;
    margin: 20px;
    border: 1px solid #0F76C0;

    background-color: rgb(255, 255, 255);
    padding: 2.5rem 1.25rem 2.5rem 1.25rem;

}

h2{
    color:#FFA500;
}