.infobox{
    width:31.25rem;
    height: 22rem;
    border-radius: 15px;
    margin: 20px;
    border: 1px solid #dfdfdf;

    background-color: rgb(255, 255, 255);
    padding: 1rem 1.25rem 2.5rem 1.25rem;

}

h3{
    color:#FFA500;
}