.main h2{
    
    margin-left: 22px;
}

.resumeContainer{

    width:70rem;
    background-color: white;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    margin-left: 22px
}
.incomes, .spends, .budget{
    width:12.5rem;
    height: 150px;
    background-color: green;
    border-radius: 10px;
}
.spends{
    background-color: red;
}
.budget{
    background-color: orange;
}