.SideBar{
    height: 100%;
    width: 10rem;
    background-color: #0D47A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position:relative;
}

.h1{
    color:white;
    margin: 0;
}

.mainLogo{
    width: 13.8rem;
}

.menu{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 2rem;
}
.menu a{
    color:white;
    text-decoration: none;
}
.menu li{
    text-decoration: none;
    justify-content: center;
    padding: 10px;
}