.Wrapper{
    width: 100%;
    max-width: 1470px;
    background-color: rgb(242, 242, 242);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 2rem;
    align-items: flex-start;
}